@font-face {
    font-family: 'iconfont';
    src: url('../assets/iconfont.ttf') format('truetype');
}

.icon {
    font-family: 'iconfont';
    font-size: 30px;
    display: block;
}

.hello {
    width: 100px;
    height: 200px;
    color: blue;
}

.block-img {
    background: url('../assets//webpack-logo.svg') !important;
}